@page
@model IndexModel
@section Styles {
    <link rel="stylesheet" href="~/css/main.css" />
}
@{
    ViewData["Title"] = "Аниме. Каталог аниме";
}

    <main id="main">
        <h1>Animeworld - справочник аниме</h1>
        <h2>Последние обновления онгоингов</h2>
    <div class="anime_news" id="anime_news">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Index?handler=Data', // URL вашего метода
                type: 'GET',
                success: function (data) {
                    let container_anime = document.getElementById('anime_news');
                    for (let i = 0; i < data.length; i++) {
                        const name_id = data[i].split('$');
                        let div_item = document.createElement("div");
                        div_item.className = 'anime_catalog_item';
                        div_item.id = 'div' + i;
                        $(div_item).attr('data-id', name_id[0]);
                        div_item.class = 'anime_catalog_item';
                        const img = new Image(300, 350);
                        let str_scr = "images/posters/" + name_id[0] + ".jpeg";
                        let str_alt = name_id[1];
                        img.src = str_scr;
                        img.alt = str_alt;
                        const ppp = document.createElement("p");
                        ppp.innerHTML = name_id[1];
                        div_item.appendChild(img);
                        div_item.appendChild(ppp);


                        container_anime.appendChild(div_item);
                    }
                }
            });
        });

        $('#anime_news').on('click', '.anime_catalog_item', function () {
            var productId = $(this).data('id'); // Assuming each item has a data-id attribute with its ID
            window.location.href = '/Anime?id=' + productId; // Navigate to the AnimeDetails Razor Page with the productId as a query parameter
        });
    </script>


    </main>
    